@import '../../variables';
.searchContainer {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 400px;
    width: 100%;
    @media (max-width: 992px) {
        max-width: 100%;
    }
}

.searchInput {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid $dark;
    font-size: 16px;
    transition: border-color 0.3s ease;

    @media (max-width: 992px) {
        padding: 5px 15px;
    }
    
    &:focus {
        outline: none;
        border-color: $purple;
    }
    
    &::placeholder {
        color: $gray;
    }
}

.clearButton {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    color: $dark;
    cursor: pointer;
    padding: 0;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    
    &:hover {
        background-color: $gray;
        color: $dark;
    }
}
