@import '../../variables';

.formGroup {
    margin-bottom: 15px;

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: 500;
        color: $dark;
    }

    input, textarea, select {
        width: 100%;
        padding: 10px;
        border: 1px solid $gray;
        font-size: 14px;
        transition: border-color 0.3s ease;
        font-family: inherit;

        &:focus {
            outline: none;
            border-color: $purple;
        }
    }
    

    textarea {
        resize: none;
        min-height: 80px;
    }
}