@import '../../variables';

.specGroup {
    margin-bottom: 15px;
    padding: 15px;
    background: $gray;
    border: 1px solid $gray;
}

.specGroupTitle {
    font-weight: 700;
    color: $dark;
    margin-bottom: 10px;
    font-size: 16px;
    text-transform: capitalize;
}

.specSubList {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.specItem {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid $gray;
    
    &:last-child {
        border-bottom: none;
    }
    
    .specKey {
        font-weight: 400;
        color: $dark;
        text-transform: capitalize;
    }
    
    .specValue {
        color: $dark;
        text-align: right;
        font-weight: 400;
    }
}