@import '../../variables';
.wrapper {
    margin-bottom: 20px;
    margin-top: 20px;

    @media (max-width: 992px) {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    h4 {
        margin: 0 0 10px 0;
        font-size: 16px;

        @media (max-width: 1920px) {
            font-size: 15px;
            margin-bottom: 9px;
        }

        
    }
}
.priceInputs {
    display: flex;
    align-items: center;
    gap: 10px;

    @media (max-width: 1920px) {
        gap: 9px;
    }

    
    
    input {
        width: 100%;
        padding: 10px;
        border: 1px solid $dark;
        font-size: 14px;
        transition: border-color 0.3s ease;

        @media (max-width: 1920px) {
            padding: 9px;
            font-size: 14px;
        }

        
        
        &:focus {
            outline: none;
            border-color: $purple;
        }
        
        &::placeholder {
            color: $gray;
        }
    }
    
    span {
        color: $dark;
        font-weight: 500;
    }
}